doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="./css/style.css")
		script(defer src="./js/carousel.js") 
		title Artificial Intelligence
	body
	.wrapper 
		header.header 
			.header__container._container
				.header__block.header-block
					.header-block__logo 
						a(href="./index.html").header-block__logo-link
							.header-block-logo__img 
							.header-block-logo__text 
								h1 Artificial Intelligence
					.header-block__nav 
						nav.header-block__nav-menu.header-nav
							a(href="").header-nav__link Home
							a(href="").header-nav__link About
							a(href="").header-nav__link Services
							a(href="").header-nav__link Blog
							a(href="").header-nav__link Contact
					.header-block__button.header-button
						a(href="").header-button__link Sign In
		main.main 
			section.hero
				.hero__container._container
					.hero__block-hero.hero-block
						.hero-block__hero 
							.hero-block__text-block.text-hero
								h2.text-hero__sub-title Next genaretion platform
								h2.text-hero__title Artificial intelligence & Syber security
								h3.text-hero__text Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
								.text-hero__btn-block.btn-hero
									.btn-hero__row
										a.btn-hero__link(href="") Get Started
										a.btn-hero__link.btn-hero__link_video(href="") Watch Video
							.hero-block__img-hero-block
								.img-hero-block__image 
						.hero-block__companies.hero-companies
							.hero-companies__logo-01
							.hero-companies__logo-02
							.hero-companies__logo-03
							.hero-companies__logo-04
			section.apply-ai
				.apply-ai__container._container
					.apply-ai__block-apply-ai.apply-ai-block
						.apply-ai-block__apply-ai
							.apply-ai-block__img-apply-ai-block
								.img-apply-ai-block__image 
							.apply-ai-block__text-block.text-apply-ai
								h2.text-apply-ai__title.main__title Apply AI, Deep Learning and Data Sciece to solve
								h3.text-apply-ai__text.main__text Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
								.text-apply-ai__btn-block.btn-apply-ai
									a.btn-apply-ai__link(href="") Learn More
			section.feature
				ul.feature__list
					li.feature__item.feature-item
						.feature-item__img.feature-item__img-01
						h2.feature-item__title Naxly as the Winners in Global Agency Awards
						p.feature-item__text Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
					li.feature__item.feature-item
						.feature-item__img.feature-item__img-02
						h2.feature-item__title Expert Prespective Agency Awards
						p.feature-item__text Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
					li.feature__item.feature-item
						.feature-item__img.feature-item__img-03
						h2.feature-item__title Business Prespective Global Agency Awards
						p.feature-item__text Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
					li.feature__item.feature-item
						.feature-item__img.feature-item__img-04
						h2.feature-item__title Value for Results in Global Agency Awards
						p.feature-item__text Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
					li.feature__item.feature-item
						.feature-item__img.feature-item__img-05
						h2.feature-item__title Global Experience in Agency Awards
						p.feature-item__text Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
				.feature__ellipse.feature-ellipse 
					.feature-ellipse__list 
						button.feature-ellipse__marker#next
						button.feature-ellipse__marker#prev
			section.about
				.about__container._container
					.about__text-block.about-text
						h2.about-text__title.main__title What our clients say about our awesome solutions
						.about-text__block-text
							h3.about-text__text.main__text To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it who do not know.
							h3.about-text__text.main__text Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing .
							h3.about-text__text.main__text Lorem ipsum is placeholder previewing layouts and visual mockups.
							h3.about-text__text.main__text Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
					.about__img-block.about-img-block
						.about-img-block__img
		footer.footer
			.footer__container._container
				.footer__contact.footer-contact
					a(href="./index.html").footer-contact__logo-block
						.footer-contact__logo  
						h2.footer-contact__logo-title Artificial Intelligence
					h3.footer-contact__logo-text Lorem ipsum is placeholder text commonly used in the graphic, print, and layouts and visual mockups.
					address.footer-contact__contacts-list.footer-contact-list
						a(href="mailto:Company@gmail.com.com").footer-contact-list__mail Company@gmail.com.com
						a(href="tel:0643321233").footer-contact-list__tel Phone: (064) 332-1233
						a(target="_blank" rel="noreferrer noopener nofollow" href="https://goo.gl/maps/8KAGYZsWJDxves8i6").footer-contact-list__map  450 Wall Street, USA, New York
				.footer__nav.footer-nav
					.footer-nav__block 
						h4.footer-nav__item.footer-nav-title Information
						ul.footer-nav__list
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	New Collection
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	About Store
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Contact Us
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Latest News
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Our Sitemap
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Orders History
					.footer-nav__block 
						h4.footer-nav__item.footer-nav-title Footer menu
						ul.footer-nav__list
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	New Collection
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	About Store
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Contact Us
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Latest News
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Our Sitemap
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Orders History
					.footer-nav__block 
						h4.footer-nav__item.footer-nav-title Userful links
						ul.footer-nav__list
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	New Collection
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	About Store
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Contact Us
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Latest News
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Our Sitemap
							li.footer-nav__item.footer-nav-link
							a(href="").footer-nav-link__link 	Orders History
				.footer-nav__contact-about.footer-contact-about
					h4.footer-contact-about__title.footer-nav-title About the store
					p.footer-contact-about__text Lorem ipsum is placeholder text commonly used in the graphic, print, and layouts and visual mockups.
					a(href="").footer-contact-about__link www.company.com
					.footer-contact-about__social-icons-row 
						a.footer-contact-about__social-icon.footer-social-icon_01(href="") 
						a.footer-contact-about__social-icon.footer-social-icon_02(href="") 
						a.footer-contact-about__social-icon.footer-social-icon_03(href="") 
						a.footer-contact-about__social-icon.footer-social-icon_04(href="") 
						a.footer-contact-about__social-icon.footer-social-icon_05(href="") 
					.footer-contact-about__lang
						a(href="").footer-contact-about-lang__link English